<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <p class="section-subheading text-muted">Valtek is a statistical tool for VALORANT that will provide all types of in-game statistics for free. It will be available in the form of a Discord bot and a Desktop application available on all platforms. It is currently under development and will be out very soon!</p>
                </div>
            </div>
        </div>
    </section>